* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.main-content {
    flex: 1;
}
/* top section */
.one {
    display: flex;
    flex-direction: column;

    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero-container {
    display: flex;
    margin: 100px;
}

.awesome h1 {
    font-weight: bolder;
    font-size: 48px;
}

.awesome {
    flex: 1;
    margin-right: 30px;
}

.hero {
    flex: 1;
}

/* section 2 */

